<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        input{
            border-radius:20px;
            border-color: bisque;
            margin-top:10px;
            margin-left:60px;

        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <title>Login</title>
</head>
<body style="background-image: url(https://scontent.fgyd3-1.fna.fbcdn.net/v/t39.30808-6/264889586_2098501693633304_7821510218172786233_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=LVXNQag6q34Q7kNvgGfmAaQ&_nc_zt=23&_nc_ht=scontent.fgyd3-1.fna&_nc_gid=ANmRniwqoGCvLM8ylbHcstS&oh=00_AYAvbhaEXfqGtEoRTrNbcjAXWTJ0AjGRrSeqCO9fakhb4w&oe=67463719);background-size: cover;height: 100vh;">
    <h3 style="text-align: center;font-family:'Poppins',sans-serif">Login</h3>
    <form method="POST">
        <div style="width: 290px;background-color:rgba(250, 235, 215,0.5);height:150px;position:absolute;left:45%;top:40%;border-radius: 30px;">
           <span style="position:relative;top:10px;left:45px;">
            {% if error %}
            {{ error }}
            {% endif %}
           </span>
            <input type="text" name="username" style="margin-top: 30px;" placeholder="istifadəçi adı daxil edin" required>
            <input type="password" name="password" placeholder="şifrə daxil edin" style="display:block;" required> 
            <button type="submit" style="margin-left: 120px;margin-top: 10px;">Login</button>
            <p style="font-family: 'Poppins',sans-serif;position:relative;top:20px;left:20px;">Hesabınız yoxdur?<a href="{{ url_for('register') }}" style="text-decoration: none;" >Qeydiyyat</a></p>
        </div>
    </form>
</body>
</html>
